.font {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  body {
    background-color: rgb(248, 219, 237);
    font-family: Arial, sans-serif;
  }
  
  .header h2 {
    color: #333;
    font-weight: bold;
  }
  
  .icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(247, 62, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/icon1.jpg');
    background-color: transparent;
    border-style: outset;
  }
  
  .heart-icon i {
    color: white;
    font-size: 24px;
  }
  
  .chat-icon i {
    color: white;
    font-size: 24px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 150px; /* adjust to your card image height */
    background-color: transparent;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* add this to prevent image from overflowing */
  }
  .card img {
    width: 100%;
    height: 100%; /* change to 100% to make image responsive */
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid rgb(247, 62, 170);
    display: flex;
    
  }
  
  .card .card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* change to 100% to make overlay responsive */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* set text color to white */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add text shadow for better readability */
    background-color: rgba(0, 0, 0, 0.5); /* add overlay background color */
    border: 3px solid rgb(247, 62, 170);
    border-radius: 15px;
  }
  
  .card .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
  }
  
  .card-text {
    font-size: 14px;
    margin-top: 10px;
  }
  
  
  .badge {
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(247, 62, 170); /* set badge background color */
    color: #fff; /* set badge text color */
  }
  .text-center h5 {
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  /* .fixed-bottom {
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    width: 80%;
    justify-content: center;
  }
  
  .fixed-bottom a {
    color: #6c757d;
    font-size: 24px;
  } */
  
  .btn-group {
    border-radius: 20px;
  }
  
  .icon1 {
    background-color: #fff; /* or any other color you prefer */
    border-radius: 50%;
    /* padding: 10px; adjust the padding to fit your icon size */
    width: 50px; /* adjust the width to fit your icon size */
    height: 50px; /* adjust the height to fit your icon size */
    display: inline-block;
    align-items: center;
  }
  .nav-icon {
    height: 35px;
    width: 35px;
    background-color: rgb(248, 219, 237);
    border-color: rgb(248, 219, 237);
  }
  
  .f-c {
    color: purple;
  }
  .f-c1{
    color:  #d63384;
  }
  
  .icon1:hover {
    background-color: rgb(247, 62, 170);
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  
  
  
  
  
  /* Add media queries to make card responsive */
  
  @media (max-width: 768px) {
    .card {
      height: 100px; /* adjust card height for smaller screens */
    }
    .card img {
      height: 100%; /* make image responsive */
    }
    .card .card-body {
      height: 100%; /* make overlay responsive */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      height: 80px; /* adjust card height for smaller screens */
    }
    .card img {
      height: 100%; /* make image responsive */
    }
    .card .card-body {
      height: 100%; /* make overlay responsive */
    }
  }
  
  /* .up1{
    background-color: transparent;
    filter: blur(20px);
  } */
  .alert-btn{
    color: white;
    background-color: purple;
    border-radius: 5px;
  }
  .alert-message{
    height: 130px;
    width: 130px;
    backdrop-filter: blur(20px);
    display:list-item;
    justify-content: center;
    border-radius: 5px;
  }
  .alert-content{
    align-items: center;
   
  }
  .b1{
    justify-content: center;
  }


  
.fixed-bottom {
    
  margin: 0 auto 8px;
  background: #ffffff;
  box-shadow: 0px 0px 2px #888888;
}

.fixed-bottom a {
  display: block;
  
}
.fixed-bottom a.active i{
  margin: 0 auto;
  font-size: 20px;
  display: block;
  padding: 10px;
  border-radius: 50%;
}
.container-fluid {
  margin: 0 auto;
}

.btn-group{
  border-radius: 20px;
}
.icon1{
  height: 40px;
  width: 40px;
}